﻿@{
}
@model List<DataTransfer.AuthorRequest>
@{
    ViewData["Title"] = "ListMembers";
}
@{
    var author = ViewData["Author"] as DataTransfer.AuthorRequest;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar bg-dark navbar-light">
                    <a href="index.html" class="navbar-brand mx-4 mb-3">
                        <h3 class="text-primary">
                            <i class="fa me-2"></i>Book Stores
                        </h3>
                    </a>
                </nav>
            </div>
            <div class="col-md-9">
                <nav class="navbar bg-light navbar-light">
                    <a href="index.html" class="navbar-brand mx-4 mb-3">
                        <h3 class="text-primary">
                            <i class="fa me-2"></i>Book Stores
                        </h3>
                    </a>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="sidebar col-md-3">
                <nav class=" bg-light ">
                    <div class="navbar-nav w-100">
                        <a href="" class="nav-item nav-link active mx-4 mb-3 "><i class="bi bi-house-door-fill me-2"></i>Home</a>
                        <a href="https://localhost:7218/User" class="nav-item nav-link active mx-4 mb-3 "><i class="bi bi-box-arrow-right me-2"></i>Users</a>
                        <a href="" class="nav-item nav-link active mx-4 mb-3 "><i class="bi bi-box-arrow-right me-2"></i>Publishers - Authors</a>
                        <a href="https://localhost:7218/Author" class="nav-item nav-link active mx-4 mb-3 "><i class="bi bi-person-fill me-2"></i>Authors</a>
                        <a href="https://localhost:7218/Publisher" class="nav-item nav-link active mx-4 mb-3 "><i class="bi bi-journal-bookmark-fill me-2"></i>Publishers</a>
                        <a href="https://localhost:7218/Book" class="nav-item nav-link active mx-4 mb-3 "><i class="bi bi-journal-bookmark-fill me-2"></i>Book</a>
                    </div>
                </nav>
            </div>
            <div class="sidebar col-md-9">
                <div class="container">
                    <h1>Enter Author Information</h1>



   
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input name="FirstName" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input name="LastName" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>City:</label>
                            <input name="City" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Email Address:</label>
                            <input name="EmailAddress" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <!-- Thêm các trường dữ liệu khác cần chỉnh sửa -->

                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      
                    </form>
                    <h1>Authors</h1>
                    <div class="container">
                     
                            <table class="table table-striped table-bordered">
                                <form asp-action="SearchID">
                                <thead class="thead-dark">

                                    <tr>
                                        <th>
                                            AuthorId
                                                <div class="form-group mb-0">
                                                    <input name="id" type="text" class="form-control" placeholder="Tìm kiếm">
                                                </div>
                                        </th>
                                        <th>
                                            FirstName
                                                <div class="form-group mb-0">
                                                <input name="a" type="text" class="form-control" placeholder="Tìm kiếm">
                                                </div>
                                        </th>
                                        <th>
                                            LastName
                                                <div class="form-group mb-0">
                                                <input name="b" type="text" class="form-control" placeholder="Tìm kiếm">
                                                </div>
                                        </th>
                                        <th>
                                            City
                                                <div class="form-group mb-0">
                                                <input name="c" type="text" class="form-control" placeholder="Tìm kiếm">
                                                </div>
                                        </th>
                                        <th>Action</th>
                                        <input type="submit" value="Search" />
                                    </tr>
                                </thead>
                                </form>
                                @foreach (var member in Model){
                                <tbody>
                                    <tr>
                                        <td>@member.AuthorId</td>
                                        <td>@member.FistName</td>
                                        <td>@member.LastName</td>
                                        <td>@member.City</td>
                                        <td>
                                                <a asp-action="Edit" asp-route-id="@member.AuthorId" class="btn btn-warning">Edit  </a>

                                                <a asp-action="Delete" asp-route-id="@member.AuthorId" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                                }
                            </table>
                        
                    </div>
                </div>
            </div>


        </div>

    </div>


</body>

</html>